[submodule "3_workflow_orchestration/mage-zoomcamp/mage-ai-terraform-templates"]
	path = 3_workflow_orchestration/mage-zoomcamp/mage-ai-terraform-templates
	url = https://github.com/kahramanmurat/de-zoomcamp-2024.git
